<div class="services" id="services">
    <div class="title" > <h2 lit="services.h2"></h2></div>
    <hr id="services_hr">
    <div class="desc">
        <div class="text-container">
            <div class="img-circle"><img src="" alt=""></div>
            <div class="text">
                <h4 lit="services.page.h4"></h4>
                <p lit="services.page.p1"></p>
            </div>
        </div>
        <div class="text-container">
            <div class="img-circle"><img src="" alt=""></div>
            <div class="text">
                <h4 lit="services.app.h4"></h4>
                <p lit="services.app.p1"></p>
            </div>
        </div>
        <div class="text-container">
            <div class="img-circle"><img src="" alt=""></div>
            <div class="text">
                <h4 lit="services.mobile.h4"></h4>
                <p lit="services.mobile.p1"></p>
            </div>
        </div>
    </div>
</div>